<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" href="#">
        <img src="../../assets/Header Images/dead-net-navbar-logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-centered">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">STORE</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">MUSIC</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">
                <a routerLink="New-Releases">
                  New Releases
                </a>
              </li>
            </a>
            <a href="#">
              <li class="dropdown-item">
                <a routerLink="CD">
                  CD
                </a>
              </li>
            </a>
            <a href="#">
              <li class="dropdown-item">
                <a routerLink="LP">
                  LP
                </a>
              </li>
            </a>
            <a href="#">
              <li class="dropdown-item">
                <a routerLink="Digital">
                  Digital
                </a>
              </li>
            </a>
            <a href="#">
              <li class="dropdown-item">
                <a routerLink="Video">
                  Video
                </a>
              </li>
            </a>
            <a href="#">
              <li class="dropdown-item">
                <a routerLink="Dave's Picks">
                  Dave's Picks
                </a>
              </li>
            </a>
            <a href="#">
              <li class="dropdown-item">
                <a routerLink="7 inch Singles Collection">
                  7" Singles Collection
                </a>
              </li>
            </a>
            <a href="#">
              <li class="dropdown-item">
                <a routerLink="Dead & Company">
                  Dead & Company
                </a>
              </li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">APPAREL</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Men</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Women</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Kids</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Accessories</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">ART & HOME</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Books</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Stickers</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Recreation & Games</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Decor</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Kitchen</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">COLLABORATIONS</h1>
              </a></li>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">SPECIAL EDITION SHOPS</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">St. Louis Collection</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Shakedown Garden</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Skull & Roses</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Workingman's Dead</li>
            </a>
            <a href="#">
              <li class="dropdown-item">June 1976</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Astrology Collection</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Almanac</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Long Strange Trip</li>
            </a>
            <a href="#">
              <li class="dropdown-item">American Beauty Collection</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Giants Stadium</li>
            </a>
            <a href="#">
              <li class="dropdown-item">50th Anniversary</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Dave's Picks</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Dead & Company</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">Grateful Gifts</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Under $30</li>
            </a>
            <a href="#">
              <li class="dropdown-item">$30 - $100</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Over $100</li>
            </a>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">ARCHIVE</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">FEATURES</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Tapers Section</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Grateful Dead Hour</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Jam Of The Week</li>
            </a>
            <a href="#">
              <li class="dropdown-item">All The Years Live</li>
            </a>
            <a href="#">
              <li class="dropdown-item">All In The Family</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Comix by Tim Truman</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Greatest Stories Ever Told</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Documenting The Dead</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Blair's Golden Road Blog</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Sirius XM - Grateful Dead Channel</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">SHOW ARCHIVE</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Shows By Venue</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Shows By Year</li>
            </a>
            <a href="#">
              <li class="dropdown-item">All Shows</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">VISUAL ARCHIVE</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Album Covers</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Fan Art</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Laminantes</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Posters</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Stickers</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Tickets</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">PHOTOS</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Candid</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Concert</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Publicity</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">PRESS</h1>
              </a></li>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">LYRICS</h1>
              </a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">NEWS</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">DEAD 101</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">BAND MEMBERS</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">JERRY GARCIA</li>
            </a>
            <a href="#">
              <li class="dropdown-item">BOB WEIR</li>
            </a>
            <a href="#">
              <li class="dropdown-item">BILL KREUTZMANN</li>
            </a>
            <a href="#">
              <li class="dropdown-item">PHIL LESH</li>
            </a>
            <a href="#">
              <li class="dropdown-item">MICKEY HART</li>
            </a>
            <a href="#">
              <li class="dropdown-item">RON "PIGPEN" MCKERNAN</li>
            </a>
            <a href="#">
              <li class="dropdown-item">TOM CONSTANTEN</li>
            </a>
            <a href="#">
              <li class="dropdown-item">KIETH GODCHAUX</li>
            </a>
            <a href="#">
              <li class="dropdown-item">DONNA JEAN GODCHAUX</li>
            </a>
            <a href="#">
              <li class="dropdown-item">BRENT MYDLAND</li>
            </a>
            <a href="#">
              <li class="dropdown-item">VINCE WELNICK</li>
            </a>
            <a href="#">
              <li class="dropdown-item">ROBERT HUNTER</li>
            </a>
            <a href="#">
              <li class="dropdown-item">JOHN PERRY BARLOW</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">BIOGRAPHY</h1>
              </a></li>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">DISCOGRAPHY</h1>
              </a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">COMMUNITY</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">WELCOME MAT</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Welcome Back</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">ADMINISTRATION</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Topic & Feature Suggestions</li>
            </a>
            <a href="#">
              <li class="dropdown-item">User Concerns</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Technical Problems</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Admin Questions & Discussions</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">PRODUCT</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Dead Store Products</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Fall/Winter 2020 Lookback</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">DEAD HEADS</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Ticket Exchange</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Currently Listening To...</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Families</li>
            </a>
            <a href="#">
              <li class="dropdown-item">I'm Looking For...</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Introductions</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Me and My Band</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Me and My Day Job</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Most Life-Changing Show</li>
            </a>
            <a href="#">
              <li class="dropdown-item">News and Talk</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Tapers</li>
            </a>
            <a href="#">
              <li class="dropdown-item">All Around This World</li>
            </a>
            <a href="#">
              <li class="dropdown-item">The Scene</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Announcements</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Grateful Dead</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Encounters</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Personal Favorites</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Tapers</li>
            </a>
            <a href="#">
              <li class="dropdown-item">The Scene</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">GRATEFUL DEAD</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Grateful Dead in the Media</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Official Announcements</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Releases We'd Like To See</li>
            </a>
            <a href="#">
              <li class="dropdown-item">The Grateful Dead Catalog</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">DEAD ON AND OFF THE NET</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Websites</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Dead-Related Charities</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Festivals & Other Tours</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Gatherings</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Grateful Dead Radio</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Offline</li>
            </a>

            <li><a class="dropdown-item" href="#">
                <h1 class="dropdown-header">SPINOFFS & SIMILAR MUSIC</h1>
              </a></li>
            <a href="#">
              <li class="dropdown-item">Bands You Shouldn't Miss</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Best Shows by Other Bands</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Influenced By:</li>
            </a>
            <a href="#">
              <li class="dropdown-item">Tributes</li>
            </a>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">DEADCAST</a>
        </li>

      </ul>
    </div>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </li>
    </ul>
  </div>
</nav>