button.carousel-control-prev span.carousel-control-prev-icon{
    color: #FFFFFF;
    background-color: #000000;
}

button.carousel-control-next span.carousel-control-next-icon{
    color: #FFFFFF;
    background-color: #000000;
}