<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">HOME</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        MUSIC
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <li><a routerLink="Dave's Picks">DAVE'S PICKS</a></li>
                        </a>
                        <a class="dropdown-item" href="#">
                            <li><a routerLink="New-Releases">NEW RELEASES</a></li>
                        </a>
                        <a class="dropdown-item" href="#">
                            <li><a routerLink="CD">CD</a></li>
                        </a>
                        <a class="dropdown-item" href="#">
                            <li><a routerLink="LP">LP</a></li>
                        </a>
                        <a class="dropdown-item" href="#">
                            <li><a routerLink="Digital">DIGITAL</a></li>
                        </a>
                        <a class="dropdown-item" href="#">
                            <li><a routerLink="Video">VIDEO</a></li>
                        </a>
                        <a class="dropdown-item" href="#">
                            <li><a routerLink="7 inch Singles Collection">7" SINGLES COLLECTION</a></li>
                        </a>
                        <a class="dropdown-item" href="#">
                            <li><a routerLink="Dead & Company">DEAD & COMPANY</a></li>
                        </a>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        APPAREL
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">MEN</a></li>
                        <li><a class="dropdown-item" href="#">WOMEN</a></li>
                        <li><a class="dropdown-item" href="#">KIDS</a></li>
                        <li><a class="dropdown-item" href="#">ACCESSORIES</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        ART & HOME
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">BOOKS</a></li>
                        <li><a class="dropdown-item" href="#">STICKERS</a></li>
                        <li><a class="dropdown-item" href="#">RECREATION & GAMES</a></li>
                        <li><a class="dropdown-item" href="#">DECOR</a></li>
                        <li><a class="dropdown-item" href="#">KITCHEN</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">COLLABORATIONS</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        SPECIAL EDITION
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">GRATEFUL LYRICS</a></li>
                        <li><a class="dropdown-item" href="#">DAVE'S PICKS STORE</a></li>
                        <li><a class="dropdown-item" href="#">HALLOWEEN COLLECTION</a></li>
                        <li><a class="dropdown-item" href="#">ST. LOUIS COLLECTION</a></li>
                        <li><a class="dropdown-item" href="#">SHAKEDOWN GARDEN</a></li>
                        <li><a class="dropdown-item" href="#">SKULL & ROSES</a></li>
                        <li><a class="dropdown-item" href="#">WORKINGMAN'S DEAD COLLECTION</a></li>
                        <li><a class="dropdown-item" href="#">JUNE 1976</a></li>
                        <li><a class="dropdown-item" href="#">ASTROLOGY COLLECTION</a></li>
                        <li><a class="dropdown-item" href="#">LONG STRANGE TRIP</a></li>
                        <li><a class="dropdown-item" href="#">AMERICAN BEAUTY COLLECTION</a></li>
                        <li><a class="dropdown-item" href="#">GIANTS STADIUM</a></li>
                        <li><a class="dropdown-item" href="#">50TH ANNIVERSARY SHOP</a></li>
                        <li><a class="dropdown-item" href="#">DEAD & COMPANY</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        GRATEFUL GIFTS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">UNDER $30</a></li>
                        <li><a class="dropdown-item" href="#">$30 - $100</a></li>
                        <li><a class="dropdown-item" href="#">OVER $100</a></li>
                    </ul>
                </li>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
        </div>
    </div>
</nav>