<dead-header>Loading...</dead-header>
<dead-carousel>Loading...</dead-carousel>
<p></p>
<p></p>
<h1>NEW MUSIC</h1>

<div class="container-fluid d-flex">
    <div *ngFor="let product of products">
        <dead-card-vertical class="mx-2" img={{product.img}} description={{product.description}}>
            Loading...
        </dead-card-vertical>
    </div>
</div>

<div class="news">
    <div *ngFor="let news of newsItems">
        <dead-card-horizontal cardDate={{news.cardDate}} cardDescription={{news.cardDescription}}>
            Loading...
        </dead-card-horizontal>
    </div>
</div>

<dead-footer>Loading...</dead-footer>