<div class="card mb-2">
    <div class="row g-0">
      <div class="col-md-1">
        <img src="../../assets/Horizontal Card Images/dead-net-lightning-bolt.png" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-date">{{cardDate}}</p>
          <a href="#">
            <p class="card-text">{{cardDescription}}</p>
          </a>
          <a href="#">
            <p class="card-read"><small>read more >></small></p>
          </a>
        </div>
      </div>
    </div>
  </div>